@font-face {
    font-display: swap;
    font-family: "Be Vietnam Pro";
    font-style: normal;
    font-weight: 400;
    src: url("./assets/fonts/be-vietnam-pro-v11-latin-regular.woff2")
        format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Be Vietnam Pro";
    font-style: normal;
    font-weight: 500;
    src: url("./assets/fonts/be-vietnam-pro-v11-latin-500.woff2")
        format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Be Vietnam Pro";
    font-style: normal;
    font-weight: 700;
    src: url("./assets/fonts/be-vietnam-pro-v11-latin-700.woff2")
        format("woff2");
}

:root {
    /* # Colors */

    /* ## Primary */

    --clr-bright-red: hsl(12, 88%, 59%);
    --clr-dark-blue: hsl(228, 39%, 23%);

    /* ## Neutral */

    --clr-dark-grayish-blue: hsl(227, 12%, 61%);
    --clr-very-dark-blue: hsl(233, 12%, 13%);
    --clr-very-pale-red: hsl(13, 100%, 96%);
    --clr-very-light-gray: hsl(0, 0%, 98%);

    /* # Typography */

    /* ## Font */

    /* ### Font family */

    --ff-regular: "Be Vietnam Pro", sans-serif;

    /* ### Font weight */

    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;
}

/* CSS RESET */
/*
	1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}
/*
	2. Remove default margin
  */
* {
    margin: 0;
    padding: 0;
}
/*
	Typographic tweaks!
	3. Add accessible line-height
	4. Improve text rendering
  */
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
/*
	5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
/*
	6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
    font: inherit;
}
/*
	7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
/*
	8. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}

/* GENERAL STYLES */

body {
    font-family: var(--ff-regular);
    color: var(--clr-dark-blue);
    background-color: #fff;
}

ul {
    list-style: none;
}

a:link,
a:visited {
    color: inherit;
}

a {
    text-decoration: none;
}

p {
    text-align: center;
    color: var(--clr-dark-grayish-blue);
}

.section-container {
    max-width: 75rem;
    margin: 0 auto;
    padding: 0 1.25rem;
}

.btn {
    border: none;
}

.btn:focus,
.btn:hover {
    cursor: pointer;
}

/* HEADER SECTION STYLES */

#header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.5rem;
}

.page-logo {
    max-height: 1.125rem;
    width: 100%;
}

/* NAV MENU STYLES */

.nav-menu-container {
    display: none;
}

.nav-menu-container.active {
    position: absolute;
    width: calc(100% - 2.5rem);
    top: 100%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.75rem;
    background-color: #fff;
    padding: 2.5rem;
    box-shadow: 0 0 0.4rem 0.0625rem var(--clr-dark-blue);
    border-radius: 0.25rem;
}

.nav-menu-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.nav-menu-list > li > a {
    font-weight: var(--fw-bold);
}

.cta-btn {
    background-color: var(--clr-bright-red);
    color: var(--clr-very-light-gray);
    padding: 0.75rem 2rem;
    border-radius: 3rem;
    font-size: 0.75rem;
    font-weight: var(--fw-bold);
}

/* HERO SECTION STYLES */

#hero {
    display: flex;
    flex-direction: column-reverse;
    gap: 1.25rem;
    margin-top: 2.5rem;
}

.hero-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.hero-text-container > h1 {
    font-size: 2.25rem;
    line-height: 1.25;
    text-align: center;
}

.hero-text-container button:last-child {
    margin-top: 1.25rem;
}

/* MANAGE INTRODUCTION STYLES */

#manage-introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    margin-top: 6rem;
}

.manage-introduction-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.manage-introduction-container > h2 {
    font-size: 1.75rem;
    line-height: 1.5;
    text-align: center;
}

.manage-introduction-container > p {
    font-size: 0.875rem;
    line-height: 1.75;
}

/* MANAGE FEATURES CONTAINER */

.manage-features-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* FEATURE WRAPPER STYLES */

.feature-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.title-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: var(--clr-very-pale-red);
    border-radius: 2rem 0 0 2rem;
}

.feature-wrapper > p {
    text-align: left;
    font-size: 0.75rem;
    line-height: 1.75;
}

.title-wrapper > span {
    min-width: 3.4375rem;
    background-color: var(--clr-bright-red);
    padding: 0.35rem 1rem;
    border-radius: 2rem;
    font-size: 0.8125rem;
    font-weight: var(--fw-medium);
    text-align: center;
    color: var(--clr-very-light-gray);
}

.title-wrapper > h3 {
    font-size: 0.8125rem;
}

/* TESTIMONIALS SECTION STYLES */

#testimonials {
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
}

#testimonials > h2 {
    font-size: 1.6875rem;
    text-align: center;
    margin-bottom: 5rem;
}

.testimonials-container {
    margin-bottom: 0.5rem;
}

.testimonial-card {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--clr-very-light-gray);
    padding: 2rem 1.5rem;
    padding-top: 3.5rem;
    display: none;
}

.testimonial-card.selected {
    display: flex;
}

.testimonial-author {
    font-size: 0.875rem;
    color: var(--clr-dark-blue);
    font-weight: var(--fw-bold);
}

.testimonial-body {
    font-size: 0.75rem;
    line-height: 1.75;
}

.client-image {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 4rem;
}

.carousel-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.375rem;
    margin-top: 1.25rem;
}

.carousel-btn {
    width: 0.375rem;
    height: 0.375rem;
    border-radius: 50%;
    border: 1px solid var(--clr-bright-red);
    background-color: var(--clr-very-light-gray);
}

.carousel-btn.selected {
    background-color: var(--clr-bright-red);
}

#testimonials > button:last-child {
    margin-top: 3rem;
    align-self: center;
}

/* BOTTOM CALL TO ACTION STYLES */

#bottom-cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-top: 2.5rem;
    padding: 5rem 1.75rem;
    background-color: var(--clr-bright-red);
    background-image: url("./assets/images/bg-simplify-section-mobile.svg");
    background-repeat: no-repeat;
    background-position: top 60% left;
}

#bottom-cta > h2 {
    font-size: 2.25rem;
    text-align: center;
    color: var(--clr-very-light-gray);
    line-height: 1.35;
}

#bottom-cta > button:last-child {
    color: var(--clr-bright-red);
    background-color: var(--clr-very-light-gray);
}

/* ATTRIBUTION STYLES */

.attribution {
    font-size: 0.6875rem;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
    transition: all 0.4s;
}

.attribution a:hover,
.attribution a:focus {
    color: hsl(228, 99%, 70%);
}
